In [1]:
#list inside list

In [5]:
l= [[1,2,3],
   [4,5,6],
   [7,8,9]]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
data = [["ram",65,"ktm"],
       ["shyam",76,"lalitpur"],
       ["rita",53,"kathmandu"]]
print(data)

[['ram', 65, 'ktm'], ['shyam', 76, 'lalitpur'], ['rita', 53, 'kathmandu']]

In [7]:
data[2]

['rita', 53, 'kathmandu']

In [10]:
data[0][0]

'ram'

In [14]:
info=[]
n=int(input("enter the value n "))
for i in range (n):
    name = input("enter a name ")
    age = int(input("enter a age "))
    add = input("enter a add ")
    info.append([name,age,add])
print (info)

enter the value n 3
enter a name Bijika
enter a age 19
enter a add panauti
enter a name Shreeya
enter a age 19
enter a add ktm
enter a name Sabera
enter a age 18
enter a add panauti
[['Bijika', 19, 'panauti'], ['Shreeya', 19, 'ktm'], ['Sabera', 18, 'panauti']]

In [16]:
data = [['Bijika', 19, 'panauti'], 
        ['Shreeya', 19, 'ktm'],
        ['Sabera', 18, 'panauti']]
name = input("enter a name")
for i in data:
    if name in i:
        print (i)

enter a nameShreeya
['Shreeya', 19, 'ktm']

In [20]:
data = [['Bijika', 19, 'panauti'], 
        ['Shreeya', 19, 'ktm'], 
        ['Sabera', 18, 'panauti']]
data[0][0] = "Bgka"
data

[['Bgka', 19, 'panauti'], ['Shreeya', 19, 'ktm'], ['Sabera', 18, 'panauti']]

In [ ]:
mat=[]
r =int(input("enter r= "))
c = int(input("enter c= "))
for i in range(r):
    z=[]
    for j in range(c):
        x =int(input("enter x= "))
        z.append(x)
    mat.append(z)
print (mat)