In [1]:
# for loop
# while loop

In [6]:
# range(5) 0,1,2,3,4
# range(1,5)  1,2,3,4
# range(1,10,2)  1,3,5,7,9

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(1,20,3):
    print(i, end = " ")

1 4 7 10 13 16 19

In [5]:
for i in range(1,5):
    print(i)

1
2
3
4

In [11]:
for i in range(1,5):
    print("hello world", end = " ")

hello world hello world hello world hello world

In [14]:
n = int(input("enter the value n "))
for i in range(1, 11):
    print (n*i)

enter the value n 90
90
180
270
360
450
540
630
720
810
900

In [16]:
n = int(input("enter the value n "))
for i in range(1, 11):
    print (n, "*", i, "=", n*i)

enter the value n 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
n = int(input("enter the value n "))
for i in range(n):
    x = int(input("enter x= "))

s = 0
n = int(input("enter the value n "))
for i in range(n):
    x = int(input("enter x= "))
    s = s + n
   print(s)

In [2]:
s = 0
n = int(input("enter the value n "))
for i in range(n):
    x = int(input("enter x= "))
    s=s+x
print(s)

enter the value n 3
enter x= 2
enter x= 2
enter x= 2
6

In [4]:
s = ''
n = int(input("enter the value n "))
for i in range(n):
    x = input("enter x= ")
    s=s+x
print(s)

enter the value n 3
enter x= Sabera
enter x= Bijika
enter x= Shreeya
SaberaBijikaShreeya

In [5]:
s = ''
n = int(input("enter the value n "))
for i in range(n):
    x = input("enter x= ")
    s=s+x + " "
print(s)

enter the value n 3
enter x= Sabera
enter x= Bijika
enter x= Shreeya
Sabera Bijika Shreeya

In [ ]:
s = ''
n = int(input("enter the value n "))
for i in range(n):
    x = input("enter x= ")
    s=s+x + "\n"
print(s)

In [3]:
s = ''
n = int(input("enter the value n "))
for i in range(n):
    name = input("enter name = ")
    phone = input("enter phone = ")
    s = s + name + " " + phone + "\n"
print(s)

enter the value n 3
enter name = Sabera
enter phone = 9866285524
enter name = das
enter phone = 543
enter name = sad
enter phone = 432
Sabera 9866285524
das 543
sad 432

In [1]:
bill = ''
all_total = 0
n = int(input("enter the value n "))
for i in range(n):
    name = input("enter a name = ")
    price = float(input("enter a price = "))
    quantity = float(input("enter a quantity = "))
    total = price * quantity
    bill = bill + name +" "+ str(price) +" "+ str(quantity) +" "+ str(total) +"\n"
    all_total = all_total + total
    print (bill)
    print (all_total)

enter the value n 2
enter a name = shoe
enter a price = 2098
enter a quantity2
shoe 2098.0 2.0 4196.0

4196.0
enter a name = bags
enter a price = 1200
enter a quantity3
shoe 2098.0 2.0 4196.0
bags 1200.0 3.0 3600.0

7796.0