In [ ]:
a = 'Hello World\n'
print (a*2)

In [4]:
a = "hello world"
print (a[0])
print(a[0:4])
print (a[0:9:2])

h
hell
hlowr

In [5]:
a = "hello world"
b = (a[0:5])
print(a)
print(b)

hello world
hello

In [9]:
name = "Ram"
age = 56
add = "Kathmandu"
info = f"Hello world. I am {name}. i am {age} I am from {add}"
print (info)

Hello world. I am Ram. i am 56 I am from Kathmandu

In [8]:
s = ""
n = int(input ("enter the value n"))
for i in range (n):
    name = input("enter a name")
    age = int(input("enter a age"))
    add = input("enter a add")
    info = f"{name} {age} {add}\n"
    s = s + info
print (s)

enter the value n1
enter a nameSabera
enter a age18
enter a addkathmandu
Sabera 18 kathmandu

In [4]:
a = "Hello World"
print (a[-1:-12:-2])

drWolH

In [4]:
a = "Ram shyam hari Rita".lower()
name = input("enter a name ").lower()
if name in a:
    print ("Yes")
    print ("a. count(name)")
else:
    print ("No")

enter a name rita
No

In [ ]:
a = "Ram shyam hari Rita"
print (a.lower())
print (a.upper())

In [5]:
a="Hello World"
l = len(a)
i = 0
while i<l:
    print(a[i], end="")
    i = i+1

Hello World

In [8]:
a = "Ram Shyam Hari Ramesh"
a.replace("Ram ","ram ")

'ram Shyam Hari Ramesh'

In [9]:
a.split()

['Ram', 'Shyam', 'Hari', 'Ramesh']

In [10]:
a = "Ram_Shyam_Hari_Ramesh"
a.split("_")

['Ram', 'Shyam', 'Hari', 'Ramesh']

In [7]:
name= input("enter a name ")
age = int(input("enter a age "))
add = input("enter a add ")
info = f"Hello World. I am {name}. I am {age} years old. I live in {add}."
print (info)

enter a name sabera
enter a age 18
enter a add kathmandu
Hello World. I am sabera. I am 18 years old. I live in kathmandu.

In [9]:
len (a)

11

In [10]:
len(a)

11

In [13]:
a = "Ram Shyam Hari Sita Gita Ramesh"

a.split(" ")

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']